@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color:#C5F9F5;
    display: flex;
    font-family: "Poppins", "san-serif";
    margin: 0;
    padding-top: 3rem;
}

.add {
    background-color: lightgreen;
    font-size: 20px;
    font-family: "Poppins", "san-serif";
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    color: white;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    box-shadow: 0 2px #999;
}

.add:hover {
    background-color: #70df74;
}

.add:active {
  background-color: #70df74;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.menu {
    background-color: lightgreen;
    font-size: 20px;
    border: 0;
    font-family: "Poppins", "san-serif";
    cursor: pointer;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    box-shadow: 0 2px #999;

}
.menu:hover {
    background-color: #70df74;
}

.menu:active {
  background-color: #70df74;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}


.note {
    background-color:white;
    box-shadow: 0 10px 4px rgba(0,0,0,0.1);
    top: 10rem;
    margin: 20px;
    width: 400px;
    height: 400px;
}

.note .tools {
    background-color:lightgreen;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;

}
.note .tools button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;   
    margin-left: 0.5rem;
}
.note .main {
    background-color: #eee;
    overflow: hidden;
    width: 400px;
    height: 400px;

}
.note textarea {
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    width: 400px;
    height: 400px;
}
.note .hidden {
    display: none;
}
.note .title {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;   
    margin-right: 0.5rem;
}